* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-background-pagina: #dfe6e9;
  --bg-background-formulario: #eee;
  --bg-background-botton: #636e72;
  --bg-color-success: #2ecc71;
  --bg-color-error: #e74c3c;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-background-pagina);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background-color: var(--bg-background-formulario);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #b2bec3;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control input {
  border: 2px solid #ccc;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  background-color: var(--bg-background-botton);
  border: 2px solid var(--bg-background-botton);
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.form button:hover {
  cursor: pointer;
  font-weight: bold;
}

.form-control.success input {
  border-color: var(--bg-color-success);
}

.form-control.error input {
  border-color: var(--bg-color-error);
}

.form-control.success i.fa-check-circle {
  color: var(--bg-color-success);
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: var(--bg-color-error);
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: var(--bg-color-error);
}
